<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=8c23a13b-6583-4e6c-b5e1-a215002deef3.sqlserver.sequelizer.com;Database=db8c23a13b65834e6cb5e1a215002deef3;User ID=mlpucztvtiwskqub;Password=oQkN5araa5i84zQZNHSKBtLeqxNKzKL2wx3hyyjDiKXkUW6uLcdX5nJ4efwFtPGx;" />
  </connectionStrings>
</configuration>